{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'pictures/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
        <h2>О нас</h2>
        <p>No Cap. — это авторский блог, где публикуются новинки хип-хопа и свежие новости индустрии.</p>
        <div id="logo"><img src="{% static 'pictures/logo.png' %}"></div>
    </div>
</body>

</html>